<div class="container mt-3">
  <h2>Détails météo pour {{ cityName }}</h2>

  <!-- Affichage selon l'état loading / erreur / données -->
  <div *ngIf="loading; else dataOrError">
    <p>Chargement des données météo...</p>
  </div>

  <ng-template #dataOrError>
    <!-- Si erreur -->
    <div *ngIf="error" class="alert alert-danger">
      Erreur : {{ error.message || error }}
    </div>

    <!-- Si météo valide -->
    <div *ngIf="meteo && meteo.cod == 200">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/">🏠</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Météo pour {{ meteo.name }}
          </li>
        </ol>
      </nav>

      <div class="card" style="width:300px; margin: 0 auto">
        <div class="card-header">
          {{ meteo.name }} / {{ meteo.dt * 1000 | date:"EEEE d LLLL HH:mm" }}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <i [class]="'wi wi-owm-day-' + meteo.weather[0].id"></i>
            {{ meteo.main.temp }} <i class="wi wi-celsius"></i>
          </h5>
          <p class="card-text">{{ meteo.weather[0].description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="wi wi-cloud"></i> Nuage: {{ meteo.clouds.all }}%
          </li>
          <li class="list-group-item">
            <i class="wi wi-humidity"></i> Humidité: {{ meteo.main.humidity }}%
          </li>
          <li class="list-group-item">
            <i class="wi wi-windy"></i> Vent: {{ meteo.wind.speed }} km/h
          </li>
          <li class="list-group-item">
            <i class="wi wi-sunrise"></i> Lever du soleil:
            {{ meteo.sys.sunrise * 1000 | date:'H:mm' }}
          </li>
          <li class="list-group-item">
            <i class="wi wi-sunset"></i> Coucher du soleil:
            {{ meteo.sys.sunset * 1000 | date:'H:mm' }}
          </li>
        </ul>
      </div>
    </div>

    <!-- Si pas de météo et pas d'erreur -->
    <div *ngIf="!meteo && !error">
      <p>Aucune donnée météo trouvée.</p>
    </div>
  </ng-template>

  <hr />
  
  
</div>
